.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.brand-name {
  color: #f0b90b;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 2px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.nav-item {
  color: #ffff;
  margin-left: 2rem;
}
.nav-item:hover,
.brand-name:hover {
  opacity: 0.8;
}
.btn-hamburger {
    display: none;
    background-color: transparent;
     border: 0;
     color: #ffff;
     font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    .navbar-nav{
        display: none;
    }
    .btn-hamburger {
      display: block;
    }
  }