.App {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 75vh;
}
